<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../assets/js/vue.js"></script>
    <title>V-for Demo</title>
</head>
<body>
    <h1>V-for Demo</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="item in sortmessages">{{item}}</li>
        </ul>
        <ol>
            <li v-for="(person,index) in persons" v-if="person.isStudent">{{index+1}}-{{person.username}}-{{person.age}}</li>
        </ol>
    </div>

    <script>
    var app=new Vue({
        el:'#app',
        data:{
            messages:[
                65,3,12,5,6,7,8,9
            ],
            persons:[
                {username:'Jack',isStudent:true,age:18},
                {username:'Rose',isStudent:true,age:21},
                {username:'Tom',isStudent:false,age:24}
                ]
        },
        computed:{
            sortmessages:function(){
                return this.messages.sort(sortNumber);
            }
        }
    });
    function sortNumber(a,b){
        return a-b;
    }
    </script>
</body>
</html>